* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}

body {
    width: 100vw; 
    position: relative;
    
}
header {
    position: sticky;
    top: 0;
    height: 80px;
    width: 100vw;
    background: white;
    z-index: 10;
    
    
}

.header-container {
    max-width: 1400px;
    height: 80px;
    display: flex;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    color: black;

}

.logo-container img {
    text-transform: uppercase;
    height: 50px;
    filter: invert(100%) 
    
    
}


nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;

}


nav a:hover {
    background-color: #273895;
    color: white;
    

}

main {
    
    background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    opacity: .9;
    background-size: cover;
    height: 70vh;
    width: 100%;
    position: relative;

}
main::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Set semi-transparent overlay color */
    z-index: -1;
}


.banner-container {
    
    
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: flex-start;
    max-width: 1400px;
    margin: auto;

    
}




.banner {
    color: white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 30px;


}

.banner h2 {
   font-size: 40px; 
   margin-bottom: 10px;
   letter-spacing: 2px;

    

}

.banner p {
    font-size: 20px;
    margin-bottom: 10px;

}

.banner input {
    padding: 5px;
    text-align: center;
    width: 200px;
    border-radius: 5px;

}

.banner button {
    padding: 10px;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.banner button:hover {
    background-color: #273895;
    color: white;
}

.banner a {
    color: white;
    background: #273895;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
   

}

.banner a:hover {
    background-color: black;
    color: white;
}

.input-container {
    margin-bottom: 10px;

}

.input-container input, button {
    border: solid 2px gray;
    padding: 10px;
    
}



.insights {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
}

.right-container {
    width: 50%;
    height: 100%;
    display: flex;

    flex-flow: column;
    justify-content: center;
    align-items: center;


   
    
}

.box {
    height: 400px;
    width: 450px;
    background-color: #F5EBEB;
    backdrop-filter: blur(10px); /* apply a blur filter to the area behind the element */
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    

}

section {
    height: 600px;
}

.services-section {
    height: 300px;
    display: flex;

    flex-flow: column;
    align-items: center;

}


.services-container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    
}

.services-section h2 {
    margin: 20px;
    border-bottom: 2px solid black; /* Set border style, width and color */
    padding-bottom: 2px; /* Add padding to create space between text and underline */
    
}

.service-type {
    
    height: 100%;
    width: 400px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.service-type p {
    margin: 10px;
}


footer {

    height: 500px;
    background-color: gray;
}